# Environment
NODE_ENV=development  # Node.js convention
APP_ENV=dev  # Used server-side for db.ts
# No use for NEXT_PUBLIC_APP_ENV client side

# Frontend Configuration
FRONTEND_PORT_INTERNAL=3001  # Internal port for Next.js 
FRONTEND_PORT_EXTERNAL=3001  # External port for Next.js

# Platform Configuration
NEXT_PUBLIC_PLATFORM_URL=http://localhost:4200

# Variables required for deployment
TARGET_ENV=dev
PROJECT_PREFIX=ame-website
VERSION=0.1.0